body{
	background-image:url('../images/27.jpg') ;
	background-size: cover;
	position: relative;
	height: auto;
	background-repeat: no-repeat;

}
div h5{
	text-align: center;
	color: black;
}
.content{
	height: auto;
	width: 50%;
	justify-self: center;
	margin-top:5rem ;
	padding-bottom: 5rem;
	margin-bottom: 5rem;
}
.form-label{
	color: black;
	font-weight: bold;
}
.card{
	height: 40px;

}
.navbar a {
    display: block;
    color: black;
    justify-items: right;
    font-weight: 900;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .logo {
    width: 80px;
    height: 50px;
  }