body{
    margin: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
.tHead{
    padding: 1em;
    height: 3em;
    background-color: goldenrod;
}

.col-4 {
    background-color: #f0f8ff; /* Light blue background */
    padding: 20px;  /* Optional: Add padding for spacing */
    color: #333;    /* Text color */
    border-radius: 8px; /* Optional: Rounded corners */
}
